<h1>Statistics</h1>
<div class="card">
  <div class="card-head">Lorem ipsum - Statistics 1</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus cum quo modi quibusdam dolorem omnis quas praesentium perferendis illum hic architecto corrupti, officia sint eos nisi in fugiat iusto ratione.
  </div>
</div>
<div class="card">
  <div class="card-head">Lorem ipsum - Statistics 2</div>
  <div class="card-body">
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus cum quo modi quibusdam dolorem omnis quas praesentium perferendis illum hic architecto corrupti, officia sint eos nisi in fugiat iusto ratione.
  </div>
</div>
