
<div style="text-align:center">
  <apx-chart #chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [title]="chartOptions.title!"
  ></apx-chart>
</div>
<button class="button-40" role="button" (click)="refreshData()">Refresh Temp Data</button>

<!--
<div>
  <canvasjs-chart [options]="" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  <div *ngIf="temperature && temperature.length > 0">
  <div *ngFor="let item of temperature">
    <p>Temperature: {{ item.temperature }}</p>
    <p>Timestamp: {{ item.datetime }}</p>
  </div>
</div>
</div>


-->



